<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker - Not Authorized</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Expense Tracker</a>
  </nav>
  <div class="mx-4">
    <br></br>
    <p> Incorrect Password </p>
    <a href="/"> Go Back to Login</a>
  </div>
</body>
</html>