<!DOCTYPE html>
<html>
<head>

  <title>Expense Tracker </title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Expense Tracker</a>
    <div class="ml-auto p-2 mx-2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onClick="window.location.href='/perform_logout'" type="submit">
        Log Out
      </button>
  </div>
  </nav>
  <div id="root"></div>
  <script type="text/javascript" src="../dist/entries.js"></script>
</body>
</html>